<f:if condition="{f:count(subject:'{categories}')} > 10">
	<f:then>
		<f:widget.paginate objects="{categories}"
						   as="results"
						   configuration="{itemsPerPage: 10, insertAbove: 0 insertBelow: 1}">
			<f:render section="categoryList" arguments="{_all}"/>
		</f:widget.paginate>
	</f:then>
	<f:else>
		<f:alias map="{results:'{categories}'}">
			<f:render section="categoryList" arguments="{_all}"/>
		</f:alias>
	</f:else>
</f:if>

<f:section name="categoryList">
	<f:if condition="{results}">
		<f:then>
			<ul class="list list-unstyled">
				<f:for each="{results}" as="category">
					<li>
						<h3>
							<f:if condition="{category.icon}">
								<f:image image="{category.icon}"/>
							</f:if>
							<f:link.action action="show"
										   arguments="{category:category, debug:settings.general.debug}">
								{category.title}
							</f:link.action>
						</h3>
						<p>
							<f:format.crop maxCharacters="50"
										   append="&hellip;">{category.description}</f:format.crop>
						</p>
					</li>
				</f:for>
			</ul>
		</f:then>
		<f:else>
			<!-- No locations found -->
		</f:else>
	</f:if>
</f:section>